<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.mapper.RoleMapper">
    <!-- 角色映射结果 -->
    <resultMap id="RoleResult" type="com.hp.entity.Role">
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_del" property="isDel"/>
        <collection property="departmentList" javaType="java.util.List" resultMap="DepartmentResult"/>
    </resultMap>
    <!-- 部门映射结果 -->
    <resultMap id="DepartmentResult" type="com.hp.entity.Department">
        <id column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_del" property="isDel"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        select distinct r.role_id,r.role_name,r.create_time,r.update_time,r.is_del,d.dept_id,d.dept_name
        from role r
        left join dept_role dr on r.role_id = dr.role_id
        left join department d on d.dept_id = dr.dept_id
    </sql>

    <select id="selectList" resultMap="RoleResult">
        <include refid="Base_Column_List"/>
        where r.is_del = 0
    </select>

</mapper>
